.app-check-container {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    margin: auto auto;
    text-align: center;
    background-color: black;
}

.checks-canvas-title {
    background-color: white;
    color: black;
    text-align: left;
}

.checks-title-input {
    width: 50%;
    margin: 0 30% 0 5%;
    text-align: left;
    display: inline-block;
}

.checks-mint-button {
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 0px 2px black inset;
    border-radius: 8px;
}

.checks-canvas {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    overflow-y: hidden;
    overflow-x: auto;
    color: white;
    min-width: 400px;
}

#checks-title {
    margin: 20px 40px 5px 40px;
    text-align: center;
    font-size: 22px;
}

#checks-config {
    padding: 15px;
    border-color: #FFF;
    border-style: solid;
    height: 200px;
    overflow-x: auto;
    color: black;
    background-color: white;
    text-align: center;
    overflow-y: hidden;
    font-size: 10px;
}

#checks-config > * {
    color: black;
}

#check-items {
    padding: 30px 90px 20px 90px;
    max-height: 360px;
    display: inline-block !important;
}

.check-container {
    font-size: 8px;
    display: inline-block;
    width: 14%;
    height: 50px;
    text-align: center;
}

.right-spacer {
    margin-right: 20%;
}

#checks-owner {
    text-align: center;
    height: 20px;
    margin-top: 10px;
}

#checks-date {
    text-align: center;
    font-size: smaller;
    margin: 10px 0;
    height: 20px;
}

.check-config {
    width: 100%;
}

.slider-config {
    width: 50%;
}

::ng-deep .mat-select-value{    
    color: black!important;  
}
::ng-deep .mat-select-placeholder{    
    color: black!important;  
}


.mat-accent .mat-slider-track-fill {
    background-color: black !important;
}

.mat-slider-thumb-label {
    background-color: black !important;

}

.mat-slider-thumb {
    background-color: black !important;
}

.verified-check {
    margin: 0 0 -1px 5px;

}

.color-select {
    width: 150px !important;
}

#checks-display {
    min-height: 400px;
}

.icon-preview {
    margin-bottom: -10px;
}