.app-check-container {
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    margin: auto auto;
    text-align: center;
}

.checks-canvas-title {
    background-color: white;
    color: black;
    text-align: left;
    margin-bottom: 10px;
}

.checks-title-input {
    width: 50%;
    margin: 0 30% 0 5%;
    text-align: left;
    display: inline-block;
}

.checks-mint-button {
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 0px 2px black inset;
    border-radius: 8px;
}

.checks-canvas {
    margin-top: 10px;
    border-color: #FFF;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin-top: 15px !important;
    overflow-y: hidden;
    overflow-x: auto;
    color: white;
    min-width: 400px;
}

#checks-title {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

#checks-config {
    padding: 20px;
    border-color: #FFF;
    border-style: solid;
    margin-top: 15px !important;
    height: 200px;
    overflow-x: auto;
    color: black;
    background-color: white;
    text-align: center;
    overflow-y: hidden;
}

#checks-config > * {
    color: black;
}

#check-items {
    padding: 20px 70px;
}

.check-container {
    font-size: 8px;
    display: inline-block;
    width: 14%;
    height: 40px;
    text-align: center;

}

.right-spacer {
    margin-right: 20%;
}

#checks-owner {
    text-align: center;
}

#checks-date {
    text-align: center;
    font-size: smaller;
    margin-top: 10px;
}

.check-config {
    width: 100%;
}

::ng-deep .mat-select-value{    
    color: black!important;  
}
::ng-deep .mat-select-placeholder{    
    color: black!important;  
}

.icon-preview {
    margin-left: 15px;
}

.mat-accent .mat-slider-track-fill {
    background-color: black !important;
}

.mat-slider-thumb-label {
    background-color: black !important;

}

.mat-slider-thumb {
    background-color: black !important;
}