<div class="app-check-container">

    <div class="checks-canvas">
        <div class="checks-canvas-title">
            <mat-form-field class="checks-title-input">
                <mat-label>title</mat-label>
                <input matInput [(ngModel)]="title">
            </mat-form-field>
    
            <div class="checks-mint-button">
                <button mat-button color="warning" (click)="mint()">mint</button>
            </div>
        </div>
    
        <div id="checks-display">
            <div id="checks-title" *ngIf="title.length > 0">{{ title }}</div>
            <div id="check-items">
                <div id="check-sleeve">
                    <div class="check-container" *ngFor="let key of truncatedDateList; let i = index">
                        <p style="font-size: 6px; margin: 1px;" *ngIf="i % dateGap == 0 && dateGap != 0">{{ key }}</p>
                        <img height="40%" src="/assets/{{ getImageFromKey(key) }}"  />
                    </div>
                </div>
            </div>
        </div>
        <div id="checks-owner">
            <a style="color:white;" (click)="cycleDisplayName()" style="cursor: pointer;">by {{ addr }}</a>
            <img *ngIf="verified" height="14px" class="verified-check" [src]="primaryImageSource"  />
        </div>
        <div id="checks-date">{{ today.toLocaleDateString('en-US') }}</div>

        <div id="checks-config">
            <h4 style="text-align: center;">customize</h4>
    
            <div class="check-config">
                <mat-form-field>
                    <mat-label style="color: black;">primary</mat-label>
                    <mat-select class="color-select" style="color: black; width: 100px;" [(value)]="primaryColor" (selectionChange)="updateTimestamp()">
                        <mat-option *ngFor="let color of colors" [value]="color">
                            {{ color }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
                <img height="30px" class="icon-preview" [src]="primaryImageSource" (click)="randomizePrimary()"  />
            </div>
            <div class="check-config" style="margin-top:0;">
                <mat-form-field>
                    <mat-label style="color: black;">secondary</mat-label>
                    <mat-select class="color-select" style="color: black; width: 100px;" [(value)]="secondaryColor" (selectionChange)="updateTimestamp()">
                        <mat-option *ngFor="let color of colors" [value]="color">
                            {{ color }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
                <img height="30px" class="icon-preview" [src]="secondaryImageSource" (click)="randomizeSecondary()"  />
            </div>
            <div class="slider-config" style="margin-top:0; display: inline-block;">
                <h5 style="margin: 0;">rows: {{ rowCount }}</h5>
                <mat-slider min="2" max="8" step="1" [(ngModel)]="rowCount" (valueChange)="sliderValueChanged()" color="warn">
                    <mat-label style="color: black;">rows</mat-label>
                    <input matSliderThumb>
                </mat-slider>
            </div>
            <div class="slider-config" style="margin-top:0; display: inline-block;">
                <h5 style="margin: 0;">dates: {{ dateGap }}</h5>
                <mat-slider min="0" max="1" step="1" [(ngModel)]="dateGap" color="warn">
                    <mat-label style="color: black;">dates</mat-label>
                    <input matSliderThumb>
                </mat-slider>
            </div>

        </div>
    </div>
</div>