<div class="app-check-container">

    <div class="checks-canvas" *ngIf="commitsLoaded()">
        <div id="check-items">
            <div class="check-container" *ngFor="let key of dateList; let i = index" [attr.data-index]="i">
                <img height="55%" src="/assets/{{ getImageFromKey(key) }}"  />
            </div>
        </div>
        <div id="checks-owner"><a style="color:white;">by {{ addr }}</a></div>
        <div id="checks-date">{{ today.toLocaleDateString('en-US') }}</div>
    </div>

    <div id="checks-config" *ngIf="commitsLoaded()">
        <h4 style="text-align: center;">customize</h4>

        <div class="check-config">
            <mat-form-field>
                <mat-label style="color: white;">primary color</mat-label>
                <mat-select style="color: white;" [(value)]="primaryColor" (selectionChange)="updateTimestamp()">
                    <mat-option *ngFor="let color of colors" [value]="color">
                        {{ color }}
                    </mat-option>
                </mat-select>
                </mat-form-field> 
                <img height="30px" class="icon-preview" [src]="primaryImageSource"  />
        </div>

        <div class="check-config" style="margin-top:0;">
            <mat-form-field>
                <mat-label style="color: white;">secondary color</mat-label>
                <mat-select style="color: white;" [(value)]="secondaryColor" (selectionChange)="updateTimestamp()">
                    <mat-option *ngFor="let color of colors" [value]="color">
                        {{ color }}
                    </mat-option>
                </mat-select>
                </mat-form-field> 
                <img height="30px" class="icon-preview" [src]="secondaryImageSource"  />
        </div>

    </div>

</div>