<div id="bit-log-app-container">
    <mat-toolbar color="primary" class="header">
        <a routerLink="/" routerLinkActive="inactive" ariaCurrentWhenActive="page" id="icon-slot">
            <img id="bitlog-logo" src="../../assets/black_bitlog.png" width="60px">
        </a>
      
        <span class="right-spacer"></span>
        <button mat-button color="accent" id="add-commit-button" (click)="openAddCommitDialog()">Write History</button>
        <button *ngIf="!walletConnected()" mat-raised-button color="primary" style="color: black;" (click)="openMetamask()">Connect Wallet</button>
        <button *ngIf="walletConnected()" mat-raised-button color="primary" (click)="disconnect()" style="margin-right: 10px;">Disconnect</button>
        <button *ngIf="walletConnected()" mat-raised-button color="primary" (click)="openMetamask()">{{ displayName }}</button>
    </mat-toolbar>

    <div id="bitlog-heading">
        <h2>bitlog</h2>
        <p>Proof-of-Commit-Protocol (PoCP) uses version control commit ids to crystallize effort in crpytographic history </p>
        <a href="https://arbiscan.io/address/0x2d8a1cba6e1537eaa8d2da32cce64f0fe7009952"><span id="smart-contract-link">smart contract</span></a>
        <a href="https://github.com/defi-ira/bitlog-protocol"><span id="gh-link">github</span></a>

    </div>

    <div class="view-address-form bl-form">
        <mat-form-field class="full-width" color="accent">
            <mat-label>address</mat-label>
            <input matInput placeholder="Ox..." [(ngModel)]="address">
        </mat-form-field>
        <button mat-raised-button color="primary" class="small-form-button" (click)="viewAddress($event)">View History</button>
    </div>

    <app-check
        [commits]="commits"
        [addr]="displayName"
        (ensClicked)="cycleDisplayENS()"
    ></app-check>

</div>