li.no-bullet {
    list-style-type: none; /* Remove bullets */

    padding: 0; /* Remove padding */
    margin: 10px 0 0 0; /* Remove margins */
    color: white !important;
    text-decoration: none !important;
}

.spacer {
    width: 20px;
}

.large-spacer {
    width: 60px;
}

.header { 
    width: 100%;
    background-color: transparent;
    padding-left: 18%;
    padding-right: 18%;
}

.header > * {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none; /* no underline */
}

.icon-slot {
    font-size: 42px;
}

.right-spacer {
    flex: 1 1 auto;
}

.active-route {
    text-decoration: underline;
}

.full-width {
    width: 65%;
}

.view-address-form {
    width: 40%;
    margin: auto auto;
}

.small-form-button {
    width: 30%;
    margin: auto 2%;
    text-align: center;
}

.commit-list {
    width: 60%;
    margin: auto auto;
}

.commit-item {
    border-style: solid;
}

#bitlog-logo {
    margin-top: 30px;
}

@font-face {
    font-family: Audiowide;
    src: url(../assets/fonts/Audiowide-Regular.ttf) format("truetype");
}

* {
    font-family: 'Audiowide', 'arial', sans-serif;
}


.bl-form {
    padding: 20px;
    border-color: #FFF;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    color: white;
}


#bitlog-heading {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    font-family: 'Audiowide' !important;
    color: white;
}

@media (max-width: 1040px) {
    .small-form-button {
        width: 90%;
        margin: auto 2%;
        text-align: center;
    }
    .full-width {
        width: 95%;
    }

    .add-commit-form {
        width: 60%;
        margin: auto auto;
        margin-bottom: 20px;
    }
    
    .view-address-form {
        padding-top: 20px;
        width: 60%;
        margin: auto auto;
    }


}

#smart-contract-link {
    color: #FFF;
}

#gh-link {
    margin-left: 30px;
    color: #FFF;
}

#twitter-link {
    margin-left: 30px;
}

.wide-text {
    width: 75%;
    margin: 15px auto;
}

.d-none{ display: none; }


::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
}

::ng-deep.mat-select-placeholder {
    color: white !important;
}

#smart-contract-link {
    text-decoration: underline;
}

#gh-link {
    text-decoration: underline;
}

#add-commit-button {
    margin-right: 10px;
    box-shadow:0px 0px 0px 3px white inset;
    color: white;
}

.loading-spinner {
    width: 10%;
    margin: 40px auto;
}