li.no-bullet {
    list-style-type: none; /* Remove bullets */

    padding: 0; /* Remove padding */
    margin: 10px 0 0 0; /* Remove margins */
    color: white !important;
    text-decoration: none !important;
}

.spacer {
    width: 20px;
}

.large-spacer {
    width: 60px;
}

.header { 
    width: 100%;
    background-color: transparent;
    padding-left: 18%;
    padding-right: 18%;
}

.header > * {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none; /* no underline */
}

.icon-slot {
    font-size: 42px;
}

.right-spacer {
    flex: 1 1 auto;
}

.active-route {
    text-decoration: underline;
}

.add-commit-form {
    padding-top: 120px;
    width: 50%;
    margin: auto auto;
    margin-bottom: 20px;
}

.full-width {
    width: 65%;
}

.view-address-form {
    padding-top: 20px;
    width: 50%;
    margin: auto auto;
}

.small-form-button {
    width: 30%;
    margin: auto 2%;
    text-align: center;
}

.commit-list {
    width: 60%;
    margin: auto auto;
}

.commit-item {
    border-style: solid;
}

#bitlog-logo {
    margin-top: 10px;
}

@font-face {
    font-family: Audiowide;
    src: url(../../assets/fonts/Audiowide-Regular.ttf) format("truetype");
}

* {
    font-family: 'Audiowide', 'arial', sans-serif;
}


.bl-form {
    padding: 20px;
    border-color: #3B557E;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}

.bl-commit-entry {
    padding: 10px;
    border-color: #3B557E;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}

#bitlog-heading {
    width: 60%;
    margin: auto auto;
    text-align: center;
    font-family: 'Audiowide' !important;
    margin-bottom: 20px;
}

@media (max-width: 1040px) {
    .small-form-button {
        width: 90%;
        margin: auto 2%;
        text-align: center;
    }
    .full-width {
        width: 95%;
    }

    .add-commit-form {
        width: 60%;
        margin: auto auto;
        margin-bottom: 20px;
    }
    
    .view-address-form {
        padding-top: 20px;
        width: 60%;
        margin: auto auto;
    }


}

#smart-contract-link {
    color: #3B557E;
}

.commit-list {
    padding: 10px;
    margin-top: 10px;
    border-color: #3B557E;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: scroll;
}

.commit-item {
    padding: 5px;
    border-color: #3B557E;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#commit-list-heading {
    text-align: center;
}

.commit-attr {
    color: black;
    margin-left: 10px;
    margin-top: 5px;
}

#gh-link {
    margin-left: 30px;
    color: #3B557E;
}

.checks-canvas {
    padding: 30px;
    margin-top: 10px;
    border-color: #3B557E;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    margin-top: 15px !important;
    width: 40%;
    min-width: 400px;
    height: 440px;
    margin: auto auto;
    overflow-x: auto;
    scroll-snap-align: end;
}

.d-none{ display: none; }

.cal-heatmap-container {
    width: 90%;
    margin: auto auto;
}

#heatmap-heading {
    text-align: center;
}

.check-container {
    font-size: 8px;
    display: inline-block;
    width: 14%;
    height: 50px;
    text-align: center;
}

.right-spacer {
    margin-right: 20%;
}

#checks-owner {
    text-align: center;
}