<div id="bit-log-app-container">
    <mat-toolbar color="primary" class="header">
        <a routerLink="/" routerLinkActive="inactive" ariaCurrentWhenActive="page" id="icon-slot">
            <img id="bitlog-logo" src="../../assets/black_bitlog.png" width="100px">
        </a>
      
        <span class="right-spacer"></span>
        <button *ngIf="!walletConnected()" mat-raised-button color="primary" style="color: black;" (click)="openMetamask()">Connect Wallet</button>
        <button *ngIf="walletConnected()" mat-raised-button color="primary" (click)="disconnect()" style="margin-right: 10px;">Disconnect</button>
        <button *ngIf="walletConnected()" mat-raised-button color="primary" (click)="openMetamask()">{{ shortAddress() }}</button>
    </mat-toolbar>

    <div id="bitlog-heading">
        <h2>bitlog</h2>
        <p>Proof-of-Commit-Protocol (PoCP) uses version control commit ids to crystallize effort in crpytographic history </p>
        <a href="https://arbiscan.io/address/0x2d8a1cba6e1537eaa8d2da32cce64f0fe7009952"><span id="smart-contract-link">smart contract</span></a>
        <a href="https://github.com/defi-ira/bitlog-protocol"><span id="gh-link">github</span></a>
    </div>

    <div class="add-commit-form bl-form">
        <mat-form-field class="full-width" color="accent">
            <mat-label>commit id</mat-label>
            <input matInput [(ngModel)]="commitInput" name="commitId" placeholder="Ox...">
        </mat-form-field>
        <button mat-raised-button color="primary" class="small-form-button" *ngIf="!walletConnected()" style="color: white" disabled>Log Commit</button>
        <button mat-raised-button color="primary" class="small-form-button" *ngIf="walletConnected()" (click)="logCommit($event)">Log Commit</button>
    </div>

    <div class="view-address-form bl-form">
        <mat-form-field class="full-width" color="accent">
            <mat-label>address</mat-label>
            <input matInput placeholder="Ox..." [(ngModel)]="address">
        </mat-form-field>
        <button mat-raised-button color="primary" class="small-form-button" (click)="viewAddress($event)">View Commits</button>
    </div>


    <div class="checks-canvas" *ngIf="commitsLoaded()">
        <div id="check-items">
            <div class="check-container" *ngFor="let key of dateList; let i = index" [attr.data-index]="i">
                <img height="55%" src="/assets/{{ getImageFromKey(key) }}"  />
            </div>
        </div>
        <div id="checks-owner">by {{ shortAddress() }}</div>
    </div>


    <div class="commit-list" *ngIf="commitsLoaded()">
        <h3 id="commit-list-heading">History for {{ displayName }}</h3>
        <div class="commit-item" *ngFor="let commit of commits">
            <p class="commit-attr">commit: {{ commit.commitId }}</p>
            <p class="commit-attr">timestamp: {{ commit.timestamp }} - {{ formatDate(commit.date) }}</p>
        </div>
    </div>

</div>