li.no-bullet {
    list-style-type: none; /* Remove bullets */

    padding: 0; /* Remove padding */
    margin: 10px 0 0 0; /* Remove margins */
    color: white !important;
    text-decoration: none !important;
}

.spacer {
    width: 20px;
}

.large-spacer {
    width: 60px;
}

.header { 
    width: 100%;
    background-color: transparent;
    padding-left: 18%;
    padding-right: 18%;
}

.header > * {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none; /* no underline */
}

.icon-slot {
    font-size: 42px;
}

.right-spacer {
    flex: 1 1 auto;
}

.active-route {
    text-decoration: underline;
}

.add-commit-form {
    padding-top: 100px;
    width: 40%;
    margin: auto auto;
}

.full-width {
    width: 75%;
}

.view-address-form {
    padding-top: 20px;
    width: 40%;
    margin: auto auto;
}

.small-form-button {
    width: 20%;
    margin: auto 2%;
    text-align: center;
}

.commit-list {
    width: 60%;
    margin: auto auto;
}

.commit-item {
    border-style: solid;
}