<div id="bit-log-app-container">
    <mat-toolbar color="primary" class="header">
        <a routerLink="/" routerLinkActive="inactive" ariaCurrentWhenActive="page" id="icon-slot">
            <img id="bitlog-logo" src="../../assets/bitlog.png" width="50px">
        </a>
      
        <span class="right-spacer"></span>
        <button *ngIf="!walletConnected()" mat-raised-button color="primary" style="color: white;" (click)="openMetamask()">Connect Wallet</button>
        <button *ngIf="walletConnected()" mat-raised-button color="primary" style="color: white;" (click)="disconnect()" style="margin-right: 10px; color: white;">Disconnect</button>
        <button *ngIf="walletConnected()" mat-raised-button color="primary" style="color: white;" (click)="openMetamask()">{{ shortAddress() }}</button>
    </mat-toolbar>

    <div class="add-commit-form">
        <mat-form-field class="full-width">
            <mat-label>commit id</mat-label>
            <input matInput [(ngModel)]="commitInput" name="commitId" placeholder="Ox...">
        </mat-form-field>
        <button mat-raised-button color="primary" class="small-form-button" *ngIf="!walletConnected()" disabled>Log Commit</button>
        <button mat-raised-button color="primary" class="small-form-button" *ngIf="walletConnected()" (click)="logCommit($event)">Log Commit</button>
    </div>

    <div class="view-address-form">
        <mat-form-field class="full-width">
            <mat-label>address</mat-label>
            <input matInput placeholder="Ox..." [(ngModel)]="address">
        </mat-form-field>
        <button mat-raised-button color="primary" class="small-form-button" (click)="viewAddress($event)">View Commits</button>
    </div>

    <div class="commit-list">
        <div class="commit-item" *ngFor="let commit of commits">
            <p>{{ commit.address }}</p>
            <p>{{ commit.commitId }}</p>
            <p>{{ commit.timestamp }}</p>
        </div>
    </div>

</div>
