<div id="bit-log-app-container">
    <mat-toolbar color="primary" class="header">
        <a routerLink="/" routerLinkActive="inactive" ariaCurrentWhenActive="page" id="icon-slot">
            BitLog
        </a>
      
        <span class="right-spacer"></span>
        <button *ngIf="!walletConnected()" mat-raised-button color="primary" style="color: white;" (click)="openMetamask()">Connect Wallet</button>
        <button *ngIf="walletConnected()" mat-raised-button color="primary" style="color: white;" (click)="openMetamask()">{{ shortAddress() }}</button>
    </mat-toolbar>

    <form class="add-commit-form">
        <mat-form-field class="full-width">
            <mat-label>commit id</mat-label>
            <input matInput placeholder="Ox...">
        </mat-form-field>
        <button mat-raised-button color="primary" class="small-form-button" *ngIf="!walletConnected()" disabled>Log Commit</button>
        <button mat-raised-button color="primary" class="small-form-button" *ngIf="walletConnected()" (click)="logCommit($event)">Log Commit</button>
    </form>

    <form class="view-address-form">
        <mat-form-field class="full-width">
            <mat-label>address</mat-label>
            <input matInput placeholder="Ox..." value="{{ address }}">
        </mat-form-field>
        <button mat-raised-button color="primary" class="small-form-button" (click)="viewAddress($event)">View Commits</button>
    </form>

    <div class="commit-list">
        
    </div>

</div>
