
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;


$blue-palette: (
 50: #e4f4fb,
 100: #bbe3f6,
 200: #FFF,
 300: #FFF,
 400: #FFF,
 500: #FFF,
 600: #FFF,
 700: #FFF,
 800: #FFF,
 900: #FFF,
 contrast: (
   50: #000,
   100: #000,
   200: #000,
   300: #000,
   400: #000,
   500: #000,
   600: #000,
   700: #000,
   800: #000,
   900: #000,
 )
);

$white-palette: (
 50: #e4f4fb,
 100: #bbe3f6,
 200: #FFF,
 300: #FFF,
 400: #FFF,
 500: #FFF,
 600: #FFF,
 700: #FFF,
 800: #FFF,
 900: #FFF,
 contrast: (
   50: #000,
   100: #000,
   200: #000,
   300: #000,
   400: #000,
   500: #000,
   600: #000,
   700: #000,
   800: #000,
   900: #000,
 )
);

$black-palette: (
 50: #000,
 100: #000,
 200: #000,
 300: #000,
 400: #000,
 500: #000,
 600: #000,
 700: #000,
 800: #000,
 900: #000,
 contrast: (
   50: #000,
   100: #000,
   200: #000,
   300: #000,
   400: #000,
   500: #000,
   600: #000,
   700: #000,
   800: #000,
   900: #000,
 )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bitlog-app-primary: mat.define-palette($blue-palette);
$bitlog-app-accent: mat.define-palette($white-palette);

// The warn palette is optional (defaults to red).
$bitlog-app-warn: mat.define-palette($black-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bitlog-app-theme: mat.define-light-theme((
    color: (
        primary: $bitlog-app-primary,
        accent: $bitlog-app-accent,
        warn: $bitlog-app-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bitlog-app-theme);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
