/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Audiowide;
    src: url(./assets/fonts/Audiowide-Regular.ttf) format("truetype");
}

.no-padding .mat-dialog-container {
    padding: 0 !important;
    overflow-y: scroll;
}